header{
    background-color:#000000;
    color:#ffffff;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    }

    .topic{
        padding-top:15%;
        text-align:center;
        text-decoration: underline;
    }

   .topic img{
       max-width: 80%;
       margin:auto;
       padding-bottom:10%;
   }

   a{
    text-decoration: bold;
    color:#666666;
    font-size: 120%;
    padding-bottom:10%;
    }