@charset "UTF-8";

/* 全体 */

body {
	font-family:-apple-system, "source-han-sans-japanese",  "frank-new" ;
	font-size: 16px;
	background-color: #333;
	

}

@media screen and (min-width: 1028px){
	.body{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 15vw 1fr;

	}

	.nav{
		grid-row: 1 / 4;
		grid-column: 1 / 2;
		text-align: center;

	}

	.header{
		grid-row: 1 / 2;
	    grid-column: 2 / 3;
	

	}

	.body_box{
		grid-row: 2 / 3;
		grid-column: 2 / 3;

	}

	footer{
		grid-column: 2 / 3;
		grid-row: 3 / 4 ;

	}

	
}


.nav{
	width: 15vw;
	height: 100vh;
	position: fixed;
	background-color: #000;
	z-index: 1;

}

.nav_image{
	width: 70%;
	padding-top: 5vh;
	padding-bottom: 2vh;
	margin: 0 auto;
}

.nav_content{
	text-align: center;
}

ul{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-weight: lighter;
	padding-top:　3vh;

}

li{
	color: #fff;
	font-size: 13px;
	padding-top: 18px;
	letter-spacing: 0.05em;
	transition: .4s;
	text-decoration: none;
	list-style: none;
}

li:hover{
	color: #ccc;
}

a{
	text-decoration: none;
}

.h4_top{
	color: #fff;
	font-size: 20px;
	font-weight: lighter;
	width: 70%;
	margin: 0 auto;
	letter-spacing: 0.1em;
}



.header{
	height: 100vh;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background: linear-gradient(#fff,90%,#333);
	
}


.h1_top{
	font-size: 70px;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 1.2em;
	text-shadow: 1px 1px #fff;

}

.h2_top{
	font-size: 180px;
	color: #ddd;
	letter-spacing: 0.1em;
	padding-top: 15vh;
	padding-left: 3vh;
}

.h3_top{
	color: #000;
	font-size: 30px;
	text-decoration: none;
}



.body_box{
	height: auto;
	width: 100%;

}

.title{
	background-color: #333;
	width: 100%;
	height: auto;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 3%;
}

.contents{
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 40px;
	padding: 3vw 3vh 3vw 3vh;
	background-image: url("../images/top_background2.svg");
}

.contents_box{
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30vh;
    text-align: center;
    border: double 2px  #000;
    font-size: 30px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
	transition: .4s;
	background-color: #fff;
	line-height: 1.5em;

}

.button:hover{
	background-color: #000;
    border-color: #ccc;
	color: #fff;
	background-image: none;
}





footer{
	height: auto;
	width: 100%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;


}

.footer_img{
	width: 20%;

}

@media screen and (max-width: 1028px){

	.nav{
		display: none;
	}

	.nav_image{
		display: none;
	}


	.h4_top{
		display: none;
	}

	body{
		text-align: center;
		display: grid;
		grid-template-rows: auto 0 auto auto auto;
		
	}

	.h1_top{
		font-size: 30px;
	}

	.h2_top{
		font-size: 30px;
		padding-left: 0;
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
	}

	.button{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 15vh;
		text-align: center;
		border: double 2px  #000;
		font-size: 20px;
		color: #000;
		text-decoration: none;
		font-weight: bold;
		border-radius: 4px;
		transition: .4s;
		background-color: #fff;
	
	}

	.contents{
		grid-template-columns: 1fr;
		row-gap: 40px;
	}

	.footer_img{
		width: 30%;
	}


}

/* カウントダウンメッセージcss */


@media screen and (min-width: 1028px){
	body{
		display: grid;
		grid-template-rows: 20vh auto auto;
		grid-template-columns: 15vw 1fr;
	}

	.nav{
		grid-row: 1 / 4;
		grid-column: 1 / 2;
	}

	.header_pages{
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}

	.topic{
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}

	.footer{
		grid-row: 3 / 4;
		grid-column:  2 / 3;
	}
}



.header_pages{
	background-color:#000;
	color:#ffffff;
	display: flex;
	width: 100%;
	height: 30vh;
	justify-content: center;
	align-items: center;
	z-index: 2;
	}

	.back{
		background-color: #fff;
		background: linear-gradient(#fff, #aaa);
		padding-top: 10%;
		padding-bottom: 10%;

	}

	
	.people{
		padding-bottom:10%;
		line-height:100%;
		width:70%;
		height:auto;
		text-align: center;
		margin: 0 auto;
	}
	
	h1{
		font-size:50px;
		padding-top: 15px;
	}
	
	h2{
		font-size: 23px;
		text-decoration: underline #666666;
		padding-top: 15px;
	}
	
	h3{
		font-size:20px;
		padding-top: 15px;
	}
	
	h4{
		font-size:15px;
		padding-top: 15px;
	}

	@media screen and(max-width: 1028px){

		.nav{
			display: none;
		}

		.nav_image{
			display: none;
		}

		.h4_top{
			display: none;
		}

		body{
			text-align: center;
			display: grid;
			grid-template-rows: auto 0 auto auto auto;
		}

		.footer_img{
			width: 30%;
		}


	}

	.topic{
        padding-top:15%;
        text-align:center;
		text-decoration: underline;
		background-color: #fff;
		padding-top: 10%;
		padding-bottom: 10%;
    }

   .topic img{
       max-width: 80%;
       margin:0 auto;
       padding-bottom:10%;
   }

   .link_view{
    color:#666666;
    font-size: 200%;
    padding-bottom:10%;
	}
	
	.topic_underconstruction{
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
	}

	.spreadsheet{
		height: 100vh;
		width: 100%;
		background-color: #fff;
		padding-bottom: 50px;
		padding-top: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}

	@media screen and(max-width: 1028px){
		.spreadsheet{
			width: 100%;
			height: auto;
		}
		
	}

	/*内部規定css(真由)*/
	.kitei { 
		font-size:50px;
		font-weight:500;
	  }
	   .a_naibu{
		 font-size: 30px;
		 width:80%;
		 color: black;
		 text-decoration: none;
		 transition: .4s;
	   }

	   .a_naibu :hover{
		   color: #ccc;
	   }

	   p{
		 font-size:30px;
		 font-weight: solid;
	   }




