header{
background-color:#000000;
color:#ffffff;
display: flex;
position: fixed;
width: 100%;
justify-content: center;
}

.topic{
    padding-top:30%;
    background-image: url(message/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -10%;
    background-attachment: fixed;
}

.people{
    padding-bottom:10%;
    line-height:100%;
    width:70%;
    text-align: center;
    margin:auto;
}

h1{
    text-align:center;
    font-size:300%;
}

h2{
    font-size: 130%;
    text-decoration: underline #666666;
}

h3{
    font-size:100%;
}

h4{
    font-size:90%;
}
